body{
  background-image: url("../images/fondo.jpg");
  background-size: cover;
}

#contenedor-formulario{
    width: 230px;
    height: 250px;
    border: 2px solid #CCC;
    position: absolute;
   top: 30%;
   left: 40%;
   padding: 20px;
}

.letras-label{
  color: white;
}

#boton{
  padding: 8px 15px;
  background: #4682B4;
  border-radius: 5px;
  font: bold 25px;
  font-size: 15px;
  color: white;
}

input[type=email], input[type=password]{
    width: 100%;
    padding: 10px 15px;
    margin: 8px 0;
    box-sizing: border-box;
}
